
html, body { height: 100vh; }

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.body-full {
  min-height: calc(100vh - 250px);
}

.footer {
  margin-top: 50px;
}

.title-container {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.card {
  padding: 1rem;
  background-color: rgba(55, 54, 54, 0.526);
}

.card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.results-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.field {
  margin-right: auto;
}

.select {
  margin-left: auto;
  margin-bottom: 1rem;
}
